.avatar__overlay {
  z-index: 1;
  display: none;
  width: 26px;
  height: 26px;
  fill: white;
}

.profile__image:hover .avatar__overlay {
  display: block;
  cursor: pointer;
}

.profile__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__image:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

